# fly.toml app configuration file generated for mebel-savdo-bot on 2026-01-15T07:17:01Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'mebel-savdo-bot'
primary_region = 'fra'
  
  [processes]
[build]
 web = "python main.py"
  builder = 'paketobuildpacks/builder:base'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
